<section class="ui accordion" id="mainlist" ng-controller="MainlistController as mainCtrl" >
  <div class="ui middle aligned divided list" >
    <div ng-repeat="article in mainCtrl.articles | filter: search" class="item nomargin">
      <div class="mainlist-item">
        <div class="{{mainCtrl.article.active ? 'active' : ''}} title" ng-click="mainCtrl.makeActive($index)">
          <i class="ui user icon"></i>
            {{article.title}}
          <div class="right floated content" style="display: inline-block">
            <i class="ui star icon" ng-class="{'yellow' : toggle}" ng-click="mainCtrl.favoriteHandling(article.id, article.favorite); toggle = !toggle"></i>
          </div>
          <div id="feed-date" class="right floated content" style="display: inline-block">
            {{article.created | date: 'HH / dd / MMM'}}
          </div>
        </div>
        <div id="description" class="{{article.active ? 'active' : ''}} content">
          <a>{{article.url}}</a></br>
          {{article.description}}
        </div>
      </div>
    </div>
  </div>
</section>
