$navbar-heigth: 40px;
$add-subscription-button-heigth: 40px;
$sidebar-width: 22vw;
$addbutton-width: 20vw;
$mainlist-width: 78vw;
$add-rss-input-and-button: 35px;

body {
  background: url(../img/grey.jpg) no-repeat center center fixed;
  background-size: cover;
}

#navbar {
  width: 100%;
  height: $navbar-heigth;
  position: fixed;
  margin: 0px;
  top: 0px;
  left: 0px;
  padding-left: 20px;
  padding-right: 10px;
  background-color: teal;
  .item{
    color: #C0E4E6;
    &:hover{
      color: #ffffff;
    }
    &:active{
      color: grey;
    }
  }
}

#logo {
  font-family: 'Gloria Hallelujah', cursive;
  padding-left: 0px;
  font-size: 18px;
  img {
    width: 35px;
    padding-right: 5px;
    margin-right: 10px;
  }
}

#sidebar {
  margin-top: 40px;
  position: fixed;
  width: 20%;
  top: $navbar-heigth;
  overflow-y: visible!important;
  background-color: #ffffff;
  a{
    i{
      color: #ffffff;
    }
    &:hover{
      color: teal;
      background-color: #e1f4f4;
      i{
        color: teal;
        }
      }
    &:active{
      color: #DD4B39;
      background-color: #f4f4f4;
    }
  }
}

#folder {
  padding-top: 0px;
  width: 100%;
}

#add-subscription-button {
  background-color: #008080;
  color: #C0E4E6;
  display: flex;
  flex-flow: row;
  font-size: 14px;
  align-items: center;
  position: fixed;
  left: 0px;
  border-radius: 0px;
  bottom: $add-subscription-button-heigth;
  height: $add-subscription-button-heigth;
  width: $addbutton-width;
  &:hover {
    background-color: #139797;
    color: #ffffff;
  }
}

#add-subscription-popup, #delpopup {
  position: absolute;
  top: -110px;
  left: 10px;
  z-index: 100;
}

#add-subscription-popup > div > div > input {
  border-radius: 0.285714rem 0  0 0.285714rem;
  height: $add-rss-input-and-button;
}

#add-subscription-popup > div > div > div {
    border-radius: 0 0.285714rem 0.285714rem 0;
    width: 30px;
    height: $add-rss-input-and-button;
    i {
        margin-top: 2px;
        margin-left: -7px;
    }
}

#mainlist {
  position: fixed;
  top: $navbar-heigth;
  left: 20%;
  width: 80%;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0px;
  bottom: 0;
  #description > a {
    margin-top: 12px;
  }
}

.nomargin {
  margin: 0px!important;
  padding: 0px!important;
  .content {
    padding-bottom: 8px!important;
  }
  &:hover {
    background-color: rgba(0, 128, 128, 0.16);
    margin: 0px;
  }
}

.mainlist-item {
  width: auto;
  // padding-left: 1rem;
  // padding-right: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  i:before {
    width: 40px;
  }
  &:active {
    background-color: lightgrey;
  }
  .bold {
    font-weight: bold;
  }
}

#feed-title {
  padding-left: 50px;
  padding-bottom: 10px;
  #feed-date {
    position: fixed;
    right: 200px;
  }
}

.checkedstar {
  color: yellow;
  border-radius: 25%;
  &:hover {
    color: orange;
  }
  &:active {
    color: red;
  }
}

.uncheckedstar {
  color: black;
  border-radius: 25%;
  &:hover {
    color: white;
  }
  &:active {
    color: red;
  }
}

#description {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 30px;
  padding-top: 8px;
  line-height: 1.5;
}

#error {
  width: 50%;
  z-index: 200;
  text-align: center;
  margin-left: -20%;
  h4 {
    font-size: 20px;
    font-weight: lighter;
  }
  #gomb {
    margin-top: 10px;
    height: 50px;
  }
  button {
    height: 40px;
    width: 100px;
  }
}
