body {
  display: flex;
  justify-content: center;
  align-items: center;
  #column {
    width: 260px;
    text-align: center;
    h2 {
      color: #2E2E2E;
      text-align: -webkit-center;
      img {
        margin: 0px;
      }
    }
    #login-box, #reg-window {
      div {
          margin: 0px;
      }
      input {
        margin-bottom: 10px;
      }
      div.ui.left.icon.input > i, #mail-outline-icon, #lock-icon {
          margin-top: -4px;
      }
      input.ng-invalid.ng-touched {
        border: 0.5px solid #DD4B39;
      }
      .error-message {
        color: #DD4B39;
        display: block;
        text-align: center;
        margin-bottom: 8px;
      }
      #button {
        margin: 10px 0px;
      }
    }
    #go-to-signup-button, #go-to-login-button {
      text-align: center;
      margin: 0px;
      padding: 2px;
      &:hover {
        a {
          font-weight: bold;
          color: #FFFFFF;
        }
      }
      &:active {
        a {
          color: #808080;
        }
      }
    }
  }
}
