body {
  background-image: none;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

#column{
  width: 260px;
}

#login-box, #reg-window {
  input {
    margin-bottom: 10px;
  }
}

.ui.form .field {
    margin: 0;
}

#login-box > div.ui.left.icon.input > i, #mail-outline-icon{
    margin-top: -4px
}

#login-box > div.ui.left.icon.input > i, #lock-icon{
    margin-top: -4px
}

#signup-button {
    text-align: center;
    margin: 0px;
    padding: 2px;
    &:hover {
        a {
      font-weight: bold;
      color: white;
        }
    }
    &:active {
        a {
          color: grey;
        }
    }
}

#login-box input.ng-invalid.ng-touched {
    border: 0.5px solid #DD4B39;
}

// .login-window {
//   width: 40%;
//   align-items: center;
//   padding: 30px;
//   float: right;
//
//   h2 {
//     text-transform: uppercase;
//   }
// }
