<div id="navbar" class="ui secondary menu">

  <div id="logo" class="item">
    <img src="img/logo.svg" style="width: 35px; padding-right: 5px"/>
    Zerda Reader
  </div>

  <!-- <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a> -->
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" ng-model="search.title" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <div class="ui item">
      <i class="ui settings icon"></i>
    </div>
    <a class="ui item" ng-click="logout()">
      Logout
    </a>
  </div>
</div>


<div id="sidebar" class="ui left visible sidebar">
  <div class="ui secondary vertical pointing menu" style="width: auto">
    <a class="item" ng-click="getAll()">All</a>
    <a class="item {{folder.active ? 'active' : ''}}" ng-click="getFav()">Favorites</a>
    <a ng-repeat="folder in subscriptions" class="item {{folder.active ? 'active' : ''}}" ng-click="getFeed($index, id)">
      <i class="remove left floated icon" ng-click="deleteSubscribe(folder.id)"></i>
      {{folder.name}}
    </a>

  </div>
  <div id="add" class="ui button" ng-click="makevisible()">Add
    <div id="addpopup" class="ui flowing popup top left transition {{visible}}" ng-click="makevisible()">
      <div class="column">
        <h4 class="ui header">Add new RSS channel</h4>
        <div class="ui input" style="align-items: center">
          <input type="text" placeholder="URL..." name="newRss" ng-model="newRss"/>
          <div class="ui small button" ng-click="addSubscribe(); makevisible()" style="width: 30px; align-items: center">
            <i class="plus icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ui accordion" id="mainlist">
  <div class="ui middle aligned divided list" >
  <!-- Site content !-->

    <div ng-repeat="article in articles" class="item nomargin">
      <div class="mainlist-item">
        <div class="{{article.active ? 'active' : ''}} title" ng-click="makeActive($index)">
          <i class="ui user icon"></i>
            {{article.title}}
          <div class="right floated content" style="display: inline-block">
            <i class="ui star icon" ng-click="favoriteHandling(article.id, article.favorite)"></i>
          </div>
          <div id="feed-date" class="right floated content" style="display: inline-block">
            {{article.created}}
          </div>
        </div>
        <div class="{{article.active ? 'active' : ''}} content">
          {{article.description}}
        </div>
      </div>
    </div>
  </div>
</div>
