<header>
    <h1>Zerda reader</h1>
    <section class="nav-bar ui menu">
        <ul>
            <li>
                <input type="text" placeholder="Search">
            </li>
            <li>
                <button type="button">Quit</button>
            </li>
        </ul>
    </section>
</header>
<aside>
        <div>All</div>
        <div>Favorites</div>
    <ul class="chanel-list">
        <li>1 chanel</li>
        <li>2 chanel</li>
        <li>3 chanel</li>
        <li>4 chanel</li>
        <li>5 chanel</li>
    </ul>
    <section class="add-chanel">
        <div>Add</div>
    </section>
</aside>
<main>
    <header>
        <h2>Chanel name</h2>
    </header>
    <section>
        <ul>
            <li>1 title</li>
            <li>2 title</li>
            <li>3 title</li>
            <li>4 title</li>
            <li>5 title</li>
            <li>6 title</li>
            <li>7 title</li>
        </ul>
    </section>
</main>
