<div id="navbar" class="ui secondary menu">

  <a class="item">
    <i class="item" style="padding: 0px">Zerda Reader</i>
  </a>

  <!-- <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a> -->
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item" ng-click="logout()">
      Logout
    </a>
  </div>
</div>


<div id="sidebar" class="ui left visible sidebar">
  <div class="ui secondary vertical pointing menu" style="width: auto">
    <a ng-repeat="folder in folders" class="item {{}}" ng-click="clickitem($index)">
      {{folder.name}} - {{$index}}
    </a>
    <a class="item {{active}}" ng-click="itemClicked($index)">
      All
    </a>
    <a class="{{active}} item" ng-click="itemClicked($index)">
      Favourites
    </a>
    <a class="{{active}} item" ng-click="itemClicked($index)">
      Friends
    </a>
    <a ng-repeat="subscription in subscriptions" id="channels" class="{{active}} item" ng-click="itemClicked($index)">
      {{subscription}}
    <a>
  </div>
  <div id="add" class="ui button" ng-click="makevisible()">Add
    <div id="addpopup" class="ui flowing popup top left transition {{visible}}" ng-click="makevisible()">
      <div class="column">
        <h4 class="ui header">Add new RSS channel</h4>
        <div class="ui input" style="align-items: center">
          <input type="text" placeholder="URL..." />
          <div class="ui small button" style="width: 30px; align-items: center" ng-click="makevisible()">
            <i class="plus icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="mainlist" class="ui middle aligned divided list" >
  <!-- Site content !-->


  <div ng-repeat="article in articles" id="mainlist-item" class="item">
    <div class="right floated content">
      <i class="ui star icon"></i>
    </div>
    <i class="ui user icon"></i>
    <div class="content">
      {{article.title}}
    </div>
  </div>


</div>
