<div class="login-window">
  <h2>Log In</h2>
  <form class="login" name="login" novalidate>
    <input type="text" placeholder="example@gmail.com" name="name" ng-model="user.name" ng-required="true"/>
    <div ng-show="login.name.$touched && login.name.$invalid">
      <small style="color: red; display: block; text-align: center">Enter a valid e-mail</small>
    </div>
    <input type="password" placeholder="password" name="password" ng-model="user.password" ng-required="true"/>
    <div ng-show="login.password.$touched && login.password.$invalid">
      <small style="color: red; display: block; text-align: center">Password is incorrect</small>
    </div>
    <input type="submit" value="Send" />
  </form>
  <a class="register">New to Zerda Reader? Create account</a>
</div>
