<div class="login-window">
  <form name="contactForm" novalidate>
    <input type="text" placeholder="nickName" name="name" ng-model="user.name" ng-required="true"/>
    <div ng-show="contactForm.name.$touched && contactForm.name.$invalid">
      <small style="color: red; display: block; text-align: center">Enter a valid name</small>
    </div>
    <input type="email" placeholder="email" name="email" ng-model="contact.email" ng-required="true"/>
    <div ng-show="contactForm.email.$touched && contactForm.email.$invalid">
      <small style="color: red; display: block; text-align: center">Enter a valid email</small>
    </div>
    <textarea placeholder="Your message" name="message" ng-model="contact.message" ng-required="true"></textarea>
    <input type="submit" value="Send" ng-disabled="contactForm.$invalid"/>
  </form>
</div>
