<div class="reg-window">
  <h2>Registration</h2>
  <form class="reg" name="reg" novalidate>
    <input type="email" placeholder="example@gamil.com" name="email" ng-model="user.email" ng-required="true"/>
    <div ng-show="reg.name.$touched && reg.name.$invalid">
      <small style="color: red; display: block; text-align: center">Enter a valid e-mail</small>
    </div>
    <input type="email" placeholder="John@domain.com" name="email" ng-model="user.name" ng-required="true"/>
    <div ng-show="reg.password.$touched && reg.password.$invalid">
      <small style="color: red; display: block; text-align: center">Invalid e-mail adresse</small>
    </div>
    <input type="text" placeholder="password" name="password" ng-model="user.password" ng-required="true"/>
    <input type="submit" value="Send" />
  </form>
</div>
