<section id="sidebar" class="ui left visible sidebar">
  <div class="ui secondary vertical pointing menu" style="width: auto">
    <a class="item" ng-click="getAll()">All</a>
    <a class="item {{folder.active ? 'active' : ''}}" ng-click="getFav()">Favorites</a>
    <a ng-repeat="folder in subscriptions" class="item {{folder.active ? 'active' : ''}}" ng-click="getFeed($index, id)">
      <i class="remove left floated icon" ng-click="deleteSubscribe(folder.id)"></i>
      {{folder.name}}
    </a>
  </div>
  <div ng-include="'app/addsubscription/addsubscription.html'"></div>
</section>
