<section id="sidebar" class="ui left visible sidebar" ng-controller="SidebarController as sidebarCtrl" >
  <div class="ui secondary vertical pointing menu" style="width: auto" ng-init="sidebarCtrl.getSubs()">
    <a class="item {{sidebarCtrl.allActivated ? 'active' : ''}}" ng-click="sidebarCtrl.getAll()" >All</a>
    <a class="item {{sidebarCtrl.favActivated ? 'active' : ''}}" ng-click="sidebarCtrl.getFav()" >Favorites</a>
    <a ng-repeat="folder in sidebarCtrl.subscriptions" class="item {{folder.active ? 'active' : ''}}" ng-click="sidebarCtrl.getFeed($index, folder.id)">
      <i class="remove left floated icon" ng-click="sidebarCtrl.deleteSubscribe(folder.id)"></i>
      {{folder.name}}
    </a>
  </div>
  <div ng-include="'app/addsubscription/addsubscription.html'"></div>
</section>
