<section id="add" class="ui button" ng-click="makevisible()">Add
  <div id="addpopup" class="ui flowing popup top left transition {{visible}}" ng-click="makevisible()">
    <div class="column">
      <h4 class="ui header">Add new RSS channel</h4>
      <div class="ui input" style="align-items: center">
        <input type="text" placeholder="URL..." name="newRss" ng-model="newRss"/>
        <div class="ui small button" ng-click="addSubscribe(); makevisible()" style="width: 30px; align-items: center">
          <i class="plus icon"></i>
        </div>
      </div>
    </div>
  </div>
</section>
