<div class="ui middle aligned center aligned grid">

  <div class="column">
    <h2 class="ui image header" style="color: #2E2E2E">
      <img src="../img/logo2.png" style="text-align: center; margin: 0px; padding: 0px"/>
    Log In</h2>
    <!-- <div class="ui stacked segment"> -->

      <form class="ui large form" id="login-box" method="post" name="signin" novalidate>
        <div class="ui left icon input">
          <i class="mail outline icon"></i>

          <!-- Email inputfield -->
          <input class="field" type="email" placeholder="example@gmail.com" name="email" ng-model="loginCtrl.email" ng-required="true"/>
        </div>
        <div ng-show="signin.email.$touched && signin.email.$invalid">
          <small style="color: #DD4B39; display: block; text-align: center; margin-bottom: 8px">Invalid e-mail adress</small>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i id="lock-icon" class="lock icon"></i>

            <!-- Password inputfield -->
            <input type="password" placeholder="password" name="password" ng-model="loginCtrl.password" ng-required="true"/>
          </div>
        </div>
        <div ng-show="signin.password.$touched && signin.password.$invalid">
          <small style="color: #DD4B39; display: block; text-align: center">Please enter your password.</small>
        </div>

        <div ng-if="loginCtrl.errorMessage">
            <small style="color: #DD4B39; display: block; text-align: center">{{ loginCtrl.errorMessage }}</small>
        </div>

        <input class="ui fluid large teal submit yellow button" type="submit" value="Send" ng-click="loginCtrl.login()" style="margin-top: 10px"/>
      </form>
      <button class="signup-button teal ui fluid message button" id="signup-button" ng-click="loginCtrl.signUpView()" style="padding: 2px">
        <a class="signup">New to Zerda Reader? Sign Up!</a>
      </button>
    <!-- </div> -->
  </div>
</div>
