<!-- <div  class="ui middle aligned center aligned grid stacked segment" id="reg-window"> -->
  <div class="column" style="text-align: center;">
    <h2 class="ui image header" style="width: 40vw;">Registration</h2>
    <form class="ui large form" name="reg" method="post" novalidate>
      <input type="email" placeholder="John@domain.com" name="email" ng-model="signUpCtrl.email" ng-required="true" style="width: 40vw;  display: block"/>
      <div ng-show="reg.email.$touched && reg.email.$invalid">
        <small style="color: #DD4B39; display: block; text-align: center; style=width: 40vw">Invalid e-mail adress</small>
      </div>
      <input type="password" placeholder="password" name="password" ng-model="signUpCtrl.password" ng-required="true" style="width: 40vw; margin-top: 10px; display: block" />
      <div ng-show="reg.password.$touched && reg.password.$invalid">
        <small style="color: #DD4B39; display: block; text-align: center">Invalid password</small>
      </div>
      <input class="ui fluid large submit teal button" type="submit" value="Send" ng-click="signUpCtrl.signUp()" style="width: 40vw; margin-top: 10px"/>
    </form>
    <button class="signup-button white ui message button" ng-click="signUpCtrl.backToLogin()" style="padding: 2px; align-items: center">
      <a class="signup" style="color: black">Back to LogIn</a>
    </button>
  </div>
<!-- </div> -->
