$navbar-heigth: 40px;
$add-heigth: 45px;
$sidebar-width: 22vw;
$addbutton-width: 20vw;
$mainlist-width: 78vw;

#navbar {
  width: 100%;
  height: $navbar-heigth;
  position: fixed;
  top: 0px;
  left: 0px;
  padding-left: 20px;
  padding-right: 10px;
  background-color: teal;
  .item{
    &:hover{
      color: white;
    }
    &:active{
      color: grey;
    }
  }
}

#logo {
  font-family: 'Gloria Hallelujah', cursive;
  padding-left: 0px;
  font-size: 26px;
}

#sidebar {
  position: fixed;
  width: 20%;
  top: $navbar-heigth;
  padding-left: 10px;
  overflow-y: visible!important;
  a {
    &:hover {
      color: teal;
    }
  }
}

#folder {
  padding-top: 0px;
  width: 100%;
}

#add {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  font-size: 14px;
  align-items: center;
  position: fixed;
  left: 0px;
  bottom: $add-heigth;
  height: $add-heigth;
  width: $addbutton-width;
}

#addpopup {
  position: relative;
  top: -80px;
  left: -40px;
  z-index: 100

}

#mainlist {
  position: fixed;
  top: $navbar-heigth;
  left: 20%;
  width: 80%;
  overflow-y: scroll;
  // white-space: nowrap;
  margin: 0px;
  bottom: 0;
}

#mainlist-item {
  // height: 40px;
  width: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  i:before {
    width: 40px;
  }
  &:hover {
    font-size: 20px;
    padding-top: 5px;
    font-weight: bold;
    background-color: rgba(0, 128, 128, 0.16);
  }
  &:active {
    background-color: lightgrey;
  }
}

#feed-title {
  padding-left: 50px;
  #feed-date {
    position: fixed;
    right: 200px;
  }
}
