body {
  display: flex;
  justify-content: center;
  align-items: center;
}


#login-box, #reg-window {
  input {
    margin-bottom: 10px;
  }

}

.signup {
  text-align: center;
  &:hover {
    font-weight: bold;
  }
  &:active {
    color: grey;
  }
}

// .login-window {
//   width: 40%;
//   align-items: center;
//   padding: 30px;
//   float: right;
//
//   h2 {
//     text-transform: uppercase;
//   }
// }
